<div class="container text-center">
  <h2>Latest Updates</h2><br>
  <button class="js-sort btn btn-primary btn-md">Sort By Trip Date</button><br><br>
  <div id="list"></div>
</div>
<<<<<<< HEAD

<script type="text/javascript" charset="utf-8">
  $(function() {
    $.getJSON("/welcome.json", function(dataset) {   
      dataset.forEach(function(data) {

        $('#list').prepend('<h4><a href="/itineraries/' + data.id + '">' + data.trip_title + " (" + data.datestart + ")" + " by: " + data.users[0].firstname + " " + data.users[0].lastname + '</h4><br>')
      })
    });
  });
</script>
=======
>>>>>>> parent of bd75c3c... remove itineraries.js and add in script tags to the itineraries index view file
