<h3>Welcome, <%= current_user.firstname %>!</h3>
<%=link_to "Plan New Trip", new_user_itinerary_path(current_user.id), class: 'btn-sm btn-primary btn' %>

<h3>Trips</h3>
<ul>
  <% current_user.itineraries.each do |i| %>
    <li><%= link_to i.trip_title, user_itinerary_path(current_user, i) %></li>
  <% end %>
</ul>

