<h3>Welcome, <%= current_user.firstname %>!</h3>
<%=link_to "Plan New Trip", new_itinerary_path, class: 'btn-sm btn-primary btn' %>

<% current_user.itineraries.each do |i| %>
  <%= i.trip_title%>
<% end %>

