<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h3>Trips</h3>
      <%=link_to "Plan New Trip", new_user_itinerary_path(current_user.id), class: "btn btn-sm btn-primary" %><br><br>
      <ul>
        <% @user.itineraries.each do |i| %>
          <li><%= link_to i.trip_title, user_itinerary_path(current_user, i) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-6">
      <h3>Upcoming Trips</h3>
      <% if @upcoming_trips %>
        <ul>
          <% @upcoming_trips.each do |p| %>
            <li> <%= link_to "#{p.datestart.strftime("%m/%d/%Y")} - #{p.trip_title}", user_itinerary_path(current_user, p) %></li>
          <% end %>
        </ul>
      <% else %>
        <p>You haven't made any plans yet!</p>
      <% end %>
    </div>
  </div>
</div>

