<h3>Information we collect and how we use it</h3>
Updated: Feb 18, 2018
<h4>A. Account Information</h4>
<p>We store information about you when you login with a third-party application (such as Facebook) to create an account on the site, such as your name and email. Your email may be used to send you updates. Your name will be used to personalize website information. 

Users may provide information such as an email address, first and last name, and a password to create an account.</p>

<h4>B. Public content</h4>
<p>You can contribute to the site in a number of different ways, including creating your own itineraries and sharing with other users. We may store these contributions (your "Public Content"), display them to users, and/or use them for promotional purposes. Note that if you include personally identifiable information in your Public Content, it can be used and viewed by others. We are not responsible for the information you choose to include in your Public Content.</p>

<h4>C. Activity and log data</h4>
<p>We automatically store information related to your use of the Site, such as the pages you view on the Site, your browser type, IP address, requested URL, browser language, referring URL, and the date and time of your visit. We use this type of information to administer the Site and provide the highest possible level of service to you. We also use this information in the aggregate to perform statistical analyses of user behavior and characteristics in order to measure interest in and use of the various areas of the Site.</p>

<h4>D. Cookies</h4>
<p>We send cookies to your computer in order to uniquely identify your browser and improve the quality of our service. " Cookies " refer to small pieces of information that a website sends to your computer's hard drive while you are viewing the Site. We may use both session cookies (which expire once you close your browser) and persistent cookies (which stay on your computer until you delete them). Persistent cookies can be removed by following your browser help file directions. If you choose to disable cookies, some areas of the Site may not work properly or at all. Our cookies are linked to your information, such as your name, email address and password. We enable some of our business partners to use cookies in conjunction with your use of the Site. We have no access to or control over the use of these cookies. These cookies collect information about your use of the Site, such as where you came from, which pages you visited within the Site, and possibly other sites you visit if those sites cooperate with the same third party, but do not collect your name, email address, contact information or other personally identifiable information that by itself would allow the third party to identify or contact you.</p>

<h4>Data storage</h4>
<p>We store data in the United States.</p>