<div class="field">
  <%= f.text_field :title, placeholder: "ie. Day One"%>
</div>
<div class="field">
  <%= f.date_field :date %>
</div>
<br>
<div class="actions">
  <%= f.submit "Add New Day", class: 'btn btn-sm btn-primary' %>
</div>