<div class="form-container text-center">
  <h2>Edit Activity</h2>
  <%= form_for @activity do |f| %>
    <%= render partial: 'form', locals: { f: f, submit_text: "Update Activity"} %>
  <% end %>
</div>