<ol class="breadcrumb text-center" style="margin-top: 20px ">
  <li class="breadcrumb-item active"><%= link_to @image.itinerary.trip_title, itinerary_path(@image.itinerary) %></a></li>
  <li class="breadcrumb-item in-active">Add Image</li>
</ol>

<div class="form-container text-center">
  <h2>Add Image</h2><br>
  <div class="imageForm">
    <%= form_for [@itinerary, @image], url: itinerary_images_path(@image.itinerary) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
  <br>
  <div id="imageResult">
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  //Renders image on form page
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();

      var values = $(this).serialize();

      var posting = $.post(`/itineraries/${<%=@itinerary.id%>}/images`, values);

      posting.done(function(data) {
        var post = data;
        $("#imageResult").append(`<img src="${post["url"]}" class="result-resize">`)
      });
    });
  });
</script>