<ol class="breadcrumb text-center" style="margin-top: 20px ">
  <li class="breadcrumb-item active"><%= link_to @image.itinerary.trip_title, itinerary_path(@image.itinerary) %></a></li>
  <li class="breadcrumb-item in-active">Add Image</li>
</ol>

<div class="form-container text-center">
  <h2>Add Image</h2><br>
  <div class="imageForm">
    <%= form_for [@itinerary, @image], url: itinerary_images_path(@image.itinerary) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>